<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.OrdersMapper">
  <resultMap id="BaseResultMap" type="com.qf.bean.Orders">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="orderdate" jdbcType="TIMESTAMP" property="orderdate" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="cphone" jdbcType="VARCHAR" property="cphone" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wx" jdbcType="VARCHAR" property="wx" />
    <result column="iid" jdbcType="INTEGER" property="iid" />
    <result column="traveldate" jdbcType="DATE" property="traveldate" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    id, orderdate, uid, contact, cphone, qq, wx, iid, traveldate, status
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from orders
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from orders
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.qf.bean.Orders">
    insert into orders (id, orderdate, uid, 
      contact, cphone, qq, 
      wx, iid, traveldate, status
      )
    values (#{id,jdbcType=VARCHAR}, #{orderdate,jdbcType=TIMESTAMP}, #{uid,jdbcType=INTEGER}, 
      #{contact,jdbcType=VARCHAR}, #{cphone,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{wx,jdbcType=VARCHAR}, #{iid,jdbcType=INTEGER}, #{traveldate,jdbcType=DATE}, #{status,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.bean.Orders">
    insert into orders
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="orderdate != null">
        orderdate,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="cphone != null">
        cphone,
      </if>
      <if test="qq != null">
        qq,
      </if>
      <if test="wx != null">
        wx,
      </if>
      <if test="iid != null">
        iid,
      </if>
      <if test="traveldate != null">
        traveldate,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="orderdate != null">
        #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wx != null">
        #{wx,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        #{iid,jdbcType=INTEGER},
      </if>
      <if test="traveldate != null">
        #{traveldate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.bean.Orders">
    update orders
    <set>
      <if test="orderdate != null">
        orderdate = #{orderdate,jdbcType=TIMESTAMP},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="cphone != null">
        cphone = #{cphone,jdbcType=VARCHAR},
      </if>
      <if test="qq != null">
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wx != null">
        wx = #{wx,jdbcType=VARCHAR},
      </if>
      <if test="iid != null">
        iid = #{iid,jdbcType=INTEGER},
      </if>
      <if test="traveldate != null">
        traveldate = #{traveldate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.bean.Orders">
    update orders
    set orderdate = #{orderdate,jdbcType=TIMESTAMP},
      uid = #{uid,jdbcType=INTEGER},
      contact = #{contact,jdbcType=VARCHAR},
      cphone = #{cphone,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      wx = #{wx,jdbcType=VARCHAR},
      iid = #{iid,jdbcType=INTEGER},
      traveldate = #{traveldate,jdbcType=DATE},
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>